.card {
    row-gap: 25px;
    background: rgb(35, 42, 52);
    background: var(--BLACK-GRADIENT);
    height: 416px;
    width: 412px;
    border-radius: 30px;
    padding: 32px 30px;
}

.heading-lg {
    font-weight: bold;
    font-size: 28px;
    line-height: normal;
    letter-spacing: 0px;
}

.heading-med {
    font-weight: bold;
    font-size: 15px;
    line-height: normal;
    letter-spacing: 2px;
}

p {
    color: var(--LIGHT_GREY);
    font-size: 15px;
}

h1 {
    height: 35px;
    width: 201px;
    color: var(--PURE_WHITE);
}