
#display-rating-container {
    background: rgb(35, 42, 52);
    background: var(--BLACK-GRADIENT);
    height: 416px;
    width: 412px;
    border-radius: 30px;
    padding: 32px 30px;
    row-gap: 25px;
    display: flex;
    flex-direction: column; 
    align-items: center;
}

#online-payment {    
    width: 162px;
    height: 108px;
}

#thank-you, #display-rating-comment {
    text-align: center;
}

#display-rating-comment {
    width: 340px;
    height: 72px;
} 