#display-rating-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#online-payment {
    width: 162px;
    height: 108px;
}

#thank-you,
#display-rating-comment {
    text-align: center;
}

#display-rating-comment {
    width: 340px;
    height: 72px;
}

@media screen and (max-width: 600px){
    #display-rating-comment {
        width: 279px;
        height: 66px;
    }
    
    #online-payment {
        width: 144px;
        height: 96px;
    }
}