html, body {
  background-color: var(--BG-COLOR);
  font-family: "Overpass", sans-serif;    
  font-size: 15px;
  line-height: 24px;
  height: 100%;
}

#root {
  height: 100%;
}

.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.heading-lg {
  font-weight: bold;
  font-size: 28px;
  line-height: normal;
  letter-spacing: 0px;
}

.heading-med {
  font-weight: bold;
  font-size: 15px;
  line-height: normal;
  letter-spacing: 2px;
}

p {
  color: var(--LIGHT_GREY);
  font-size: 15px;
}

h1 {
  height: 35px;
  width: 201px;
  color: var(--PURE_WHITE);
}