html, body {
  background-color: var(--BG-COLOR);
  font-family: "Overpass", sans-serif;    
  font-size: 15px;
  line-height: 24px;
  height: 100%;
}

#root {
  height: 100%;
}

.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}